$yellow: #E9E600;
$gray: #A8A8A8;
$back: rgb(228, 228, 228);
$black: #000;

*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
}

// .App{
//   .mainContainer {
//     //height: 100%;
//     width: 100vw;
//     overflow-y: auto;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
//   display: flex;
//   height: 100vh;

// }

body{
  width: 100%;
  background-color: $back;
}

